@import 'reset.css';

:root {
  --blue_dark: #4595bd;
  --blue_normal: #5bcdf8;
  --blue_light: #a4dff5;
  --red_dark: #cb0040;
  --red_normal: #f30039;
  --red_light: #f65693;
  --dot_pattern: repeating-radial-gradient(center center, black, black .05rem, transparent .3rem, transparent 100%);
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

header {
  z-index: 33;
}

.NavSection {
  width: 100%;
  height: 10rem;
  background-color: var(--blue_normal);
}

.topNav {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsdrop {
  border: .5rem solid black;
  width: 33%;
  color: white;
  font-weight: lighter;
  font-size: 2rem;
}

.newsdrop span {
  font-weight: bold;
  font-size: 2.3rem;
  color: var(--red_normal);
  text-transform: uppercase;
}

.logo {
  width: 15rem;
  height: 6rem;
  cursor: pointer;
}

.search {
  padding-left: 10%;
  width: 30%;
}

input[type=text] {
  width: 20%;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 1.6rem;
  background-image: url(../assets/img/loop.gif);
  background-size: 70%;
  background-repeat: no-repeat;
  padding: 1.2rem 2rem 1.2rem 5rem;
  transition: width .4s, left .4s;
  cursor: pointer;

  &::placeholder {
    margin-left: 1rem;
  }

  &:focus {
    width: 80%;
    height: 3rem;
    background-size: 15%;
    background-position: 5% 50%;
    background-color: var(--blue_light);
    border: .1rem solid var(--blue_dark);
    border-radius: 1rem;
    outline: none;
  }
}

/*.botNav {
  height: 5rem;
  background-color: var(--red_normal);

  & ul {
    margin: 0 auto;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 1.4rem;
    justify-content: space-around;
  }

  & li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}*/

.navigation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  background: white;
}

.nav-item {
  width: 15rem;

  & a {
    display: block;
    padding: 1em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }

  & a:hover {
    color: var(--blue_light);
    background: var(--blue_normal);
    font-style: italic;
  }
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for='nav-trigger'] {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 10rem;
  width: 8rem;
  cursor: pointer;
  background-image: url(../assets/img/burgermenu.png);
}

.nav-trigger + label, .site-wrap {
  transition: left .2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
}

.intro {
  height: 110rem;
}

.introTop {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.introWoman {
  margin-top: 15rem;
  width: 30%;
  height: auto;
}

.introMan {
  width: 30%;
  height: auto;
}

.titel {

  & h1 {
    color: var(--red_normal);
    font-size: 14rem;
    font-weight: bolder;
    text-transform: uppercase;

    & span {
      color: var(--blue_normal);
      font-size: 10rem;
    }
  }

  & h2 {
    font-style: italic;
    text-align: center;
  }

  & h3 {
    font-style: oblique;
    font-size: 4rem;
    text-align: right;
  }
}

.introtekst {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1rem solid transparent;
  padding: 1.5rem;
  border-image: url(../assets/img/borderIntro.png) 15 round;
}

.sfeerfotos {
  width: 90rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.sfeerfoto1 {
  border: .4rem solid black;
  border-radius: .4rem;
  width: 30rem;
  height: 20rem;
}

.sfeerfoto2 {
  margin: 15rem 0 0 -10rem;
  border: .4rem solid black;
  border-radius: .4rem;
  width: 34rem;
  height: 26rem;
}

.sfeerfoto3 {
  margin: 5rem 0 0 -25rem;
  border: .4rem solid black;
  border-radius: .4rem;
  width: 32rem;
  height: 22rem;
}

.sf1 {
  z-index: -33;
  position: absolute;
  width: 30rem;
  height: 20rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 2rem 0 0 2rem;
}

.sf2 {
  z-index: -33;
  position: absolute;
  width: 34rem;
  height: 26rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 17rem 0 0 22rem;
}

.sf3 {
  z-index: -33;
  position: absolute;
  width: 32rem;
  height: 22rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 7rem 0 0 52rem;
}

.BGmic {
  z-index: -30;
  width: 7rem;
  height: 16rem;
  margin: 25rem 0 0 15rem;
  transform-origin: 50% 0;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.livestream {
  margin-top: 15rem;
  height: 55rem;

  & h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--red_normal);
    text-transform: uppercase;
    margin: 0 auto;
  }

  & .vase {
    position: absolute;
    width: 6rem;
    height: auto;
    margin: -13rem 0 0 10rem;
  }

  & .lsInner {
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80rem;
    justify-content: space-between;

    & .LsDot {
      z-index: -33;
      position: absolute;
      width: 38rem;
      height: 26rem;
      background-image: var(--dot_pattern);
      background-size: 1rem 1rem;
      margin: 3rem 0 0 3.2rem;
      border-radius: 3rem;
    }
  }

  & .fallback {
    z-index: 33;
    width: 38rem;
    height: 26rem;
    border-radius: .1rem;
    box-shadow:
      0 0 0 .8rem var(--blue_normal),
      0 0 0 1.6rem black;
  }

  & .LsOther span {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--blue_normal);
  }

  & .LsOther .LsOtherFlex {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.LsInnerInfo {
  border: 1.8rem solid transparent;
  border-image: url(../assets/img/borderStream.png) 15 stretch;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 20rem;

  & h4 {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--blue_dark);
    text-transform: uppercase;
  }

  & .algInfo {
    margin: 2rem 0 5rem;
    width: 100%;
  }
}

.LsOtherFlex .click {
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
}

.LsOtherFlex .evenement {
  width: 13rem;
  height: 13rem;
}

.LsOtherFlex .LsEvenement {
  cursor: pointer;
  width: 25%;
  margin: 0 .9rem;
}

.LsEvenement {
  color: black;
  height: 14rem;
  font-size: 1.6rem;
}

.LsEvenement .evenement {
  border: .2rem solid black;
  border-radius: 1rem;
}

.LsEvenement .LsOtherTitle {
  position: absolute;
  text-align: center;
  width: 10%;
}

.LsEvenement .LsOtherTitle span {
  color: black;
  font-size: 1.6rem;
}

.LsEvenement .duration {
  position: absolute;
  margin-top: -2.2rem;
  padding-left: 8.5rem;
  color: white;
  font-weight: bold;
}

.joinUs {
  width: 80%;
  margin: 2rem auto;

  & h3 {
    font-weight: bold;
    color: var(--red_normal);
    font-size: 5rem;
    text-align: left;
  }

  & .JuOther {
    cursor: pointer;
    width: 50rem;
    margin: 0 auto;
    font-weight: bold;
    color: var(--blue_normal);
    font-size: 2rem;
    text-align: center;
    padding: .7rem;
    border-radius: 1.5rem;
    box-shadow:
      0 0 0 .5rem var(--blue_normal),
      0 0 0 .8rem black;
  }
}

.dokkeuken {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 4rem auto;
}

.dokkeuken .DK {
  border: .6rem solid black;
  border-radius: .8rem;
  width: 24rem;
  height: 36rem;
}

.dokkeuken .DkBol {
  z-index: -33;
  position: absolute;
  width: 24rem;
  height: 36rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 3rem 0 0 -30rem;
  border-radius: 2rem;
}

.dokkeuken .DkInfo {
  flex-direction: column;
  width: 60%;
  margin-left: 5rem;
}

.DkInfo h4 {
  margin-top: 3rem;
  font-weight: bold;
  color: var(--blue_light);
  font-size: 3rem;
}

.DkInfo p {
  margin: 3rem 0;
  font-size: 2rem;
  line-height: 3rem;
}

.DkInfo span {
  color: var(--red_dark);
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: .7rem;
  border-bottom: .6rem solid var(--red_dark);
  border-radius: .5rem;
}

.dokbewoners {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 90%;
  margin: 8rem auto;
}

.dokbewoners .DB {
  margin-top: 3rem;
  border: .6rem solid black;
  border-radius: .8rem;
  width: 40rem;
  height: 27rem;
}

.dokbewoners .DbBol {
  z-index: -33;
  position: absolute;
  width: 40rem;
  height: 27rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 4.5rem 0 0 32rem;
  border-radius: 2rem;
}

.dokbewoners .DbInfo {
  flex-direction: column;
  width: 60%;
  margin-right: 5rem;
}

.DbInfo {

  & h4 {
    text-align: right;
    font-weight: bold;
    color: var(--blue_light);
    font-size: 3rem;
  }

  & p {
    margin: 2rem 0 3.5rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: right;
  }

  & span {
    cursor: pointer;
    color: var(--red_dark);
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: .7rem;
    border-bottom: .6rem solid var(--red_dark);
    border-radius: .5rem;
  }
}

.blog {
  margin: 15rem 0;

  & h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--red_normal);
    text-transform: uppercase;
  }

  & .BlogInner {
    margin: 4rem auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.blog article {
  padding: 2rem;
  width: 30%;
  border: .6rem solid black;
  border-radius: .2rem;
  align-items: center;

  & .blogImg {
    margin: 1.5rem auto;
    margin-left: 15%;
    width: 65%;
    height: auto;
    border: .2rem solid black;
    border-radius: 1rem;
  }

  & .BlogTitel {
    padding: 1.5rem 0;
    color: var(--red_normal);
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .blogTekst {
    line-height: 2.8rem;
    width: 95%;
    text-align: center;
  }

  & .blogDoorklik {
    margin: 4rem auto;
    width: 30%;
    color: var(--red_normal);
    font-size: 2.1rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: .3rem solid var(--red_normal);
    cursor: pointer;
  }

  & .blogDoorklik:hover {
    color: var(--red_dark);
    font-weight: bolder;
    border-bottom: .4rem solid var(--red_dark);

  }
}

.BlHashtag span {
  cursor: pointer;
  width: 70%;
  color: var(--red_light);
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}

.socials {
  margin: 0 auto 20rem;
  width: 80%;
  height: auto;
}

.socials h3 {
  text-align: right;
  font-size: 5rem;
  font-weight: bold;
  color: var(--red_normal);
  text-transform: uppercase;
}

.socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.socials li article {
  /*background-color: var(--blue_normal);*/
  width: 30rem;
}

.socials .socialPost {
  position: relative;
  z-index: -30;
  display: block;
  width: 100%;
  height: 100%;
}

.socials .socialID {
  position: relative;
  top: 3.5rem;
  left: -2.5rem;
  width: 20%;
  height: 20%;
}

.socials .socialID:hover {
  padding: .4rem;
  cursor: pointer;
}

.socials .socialPostOverlay {
  border: .4rem solid black;
  display: inline-block;
  background: linear-gradient(to bottom, var(--blue_normal) 0%, rgba(104, 197, 242, 0) 18%, rgba(125, 185, 232, 0) 47%, rgba(115, 191, 237, 0) 63%, var(--blue_normal)  85%, var(--blue_normal)  100%);
}

.socials .socialPostOverlay:hover {
  cursor: pointer;
  border: .4rem solid black;
  display: inline-block;
  background: linear-gradient(to bottom, var(--blue_light)  0%, rgba(205, 228, 246, 0) 18%, rgba(125, 185, 232, 0) 47%, rgba(164, 206, 239, 0) 63%, var(--blue_light) 85%, var(--blue_light) 100%);
}

.profielInfo {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin: -4.5rem auto 0;
}

.profielInfo img {
  width: 15%;
  height: 15%;
  margin-right: 2rem;
}

.profielInfo p {
  font-weight: lighter;
  font-style: italic;
  color: white;
}

footer .flowers {
  position: absolute;
  z-index: -40;
  margin-top: -14rem;
  margin-left: 60%;
  width: 45rem;
  height: 17rem;
}

footer .footerTop {
  z-index: 20;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--red_normal);
  border-bottom: .5rem solid black;
}

footer .footerDot {
  z-index: 33;
  position: absolute;
  height: 3rem;
  width: 100%;
  background-image: var(--dot_pattern);
  background-position: 0 0, 8rem 8rem;
  background-size: 1rem 1rem;
  border-radius: 2rem;
  margin-top: -3rem;
}

.Fnewsletter {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}

.Fnewsletter h5 {
  text-align: left;
  font-size: 2.1rem;
  padding: 3rem 0 2rem;
  color: white;
  text-transform: uppercase;
}

.Fnewsletter p {
  color: white;
  width: 80%;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: lighter;
}

.Fnewsletter form {
  margin-top: 1rem;
}

.Fnewsletter input[type=email] {
  border: .2rem solid black;
  padding: .7rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: .4rem;
}

.Fnewsletter input[type=email]:focus {
  border: .2rem solid var(--blue_light);
}

.Fnewsletter input[type=submit] {
  background-color: var(--red_dark);
  border: .2rem solid black;
  border-radius: .4rem;

  color: white;
  text-transform: uppercase;

  padding: .7rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.Fnewsletter input[type=submit]:hover {
  background-color: var(--red_light);
  border: .2rem solid var(--red_dark);
}

.Fsocialmedia {
  width: 30%;
  height: 30%;
}

.Fsocialmedia img {
  cursor: pointer;
  width: 5rem;
  height: auto;
  margin: 0 5% 0 2%;
}

.footerMid h5 {
  color: var(--red_dark);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0 0;
  font-size: 3rem;
}

.sponsersImg {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: auto;
}

.sponsersImg img {
  margin: 1rem 2rem 4rem;
  width: 6%;
  height: auto;
}
/*AGENDA_PAGINA*/

h3 {
  font-weight: bold;
  color: var(--red_normal);
  font-size: 5rem;
  padding: 5rem 0 0 20rem;
}

.filters {
  margin: 2rem auto 0;
  border: .5rem solid black;
  width: 80%;
  height: 25rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: var(--red_normal);
  text-transform: uppercase;
  font-weight: bold;

  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-weight: lighter;
    text-transform: none;
    margin-top: 1rem;

    & li {
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.filtersBg {
  z-index: -33;
  width: 80%;
  height: 2rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;
  margin: 0 auto;
  border-radius: 2rem;
}

.filters input[type=checkbox] {
  display: none;
  cursor: pointer;
}

.filters input[type=checkbox]:checked + label {
  color: var(--blue_normal);
  font-weight: bold;
  text-decoration: underline;
}

.filter1 {
  margin-top: 2rem;
}

.filter2 {
  margin-top: 2rem;
  width: 30%;
  height: 5rem;
}

.filter3 {
  margin-top: 2rem;
  width: 40%;
  height: 4rem;
}

.toggle {
  display: none;
  visibility: hidden;
}

label[for='toggle'] {
  display: block;
  top: 5.5rem;
  left: 40rem;
  position: absolute;
  padding: .5em;
  text-align: center;
  color: var(--blue_normal);
}

label[for='toggle']:hover {
  color: var(--blue_dark);
}

label[for='toggle']:checked {
  color: var(--blue_dark);
}

label[for='toggle']::after {
  font-weight: bold;
  font-size: 4rem;
  color: var(--blue_dark);
  content: '+';
  vertical-align: middle;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: radial-gradient(ellipse at center, var(--blue_light) 50%, transparent 50%);
}

.expand {
  margin-top: 2rem;
  height: .01rem;
  overflow: hidden;
  transition: height .2s;
}

.toggle:checked ~ .expand {
  height: 28rem;
}

.toggle:checked ~ label::after {
  content: '-';
  font-weight: bold;
  font-size: 4rem;
}

.agendaPage h4 {
  font-size: 4rem;
  font-style: italic;
  color: var(--blue_normal);
  text-align: center;
  margin: 3rem 0 0;
}

.searchResults {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  & a {
    width: 30%;
  }

  & article {
    height: auto;
    border: .3rem solid black;
    border-radius: 1rem;
    margin: 5rem 0;
  }
}

article {

  & h2 {
    color: var(--red_dark);
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }

  & dl {
    width: 90%;
    margin: auto;
  }

  & .time {
    color: var(--red_normal);
    margin-bottom: 2rem;
  }

  & ul {
    color: var(--red_normal);
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  & .location li:first-child {
    padding-right: 2rem;
  }

  & .location ul {
    margin-bottom: .5rem;
  }

  & .tags ul {
    margin-bottom: 2rem;
    font-weight: lighter;
    color: var(--blue_normal);
    text-transform: uppercase;
    justify-content: space-around;
  }
}

.descrBox {
  overflow: hidden;
  /*margin: 0 auto;*/
  width: 85%;
  height: 15rem;
  font-weight: lighter;
  line-height: 1.5em;
}

.breadcrumbs {
  padding: 4rem 0 0 6rem;
  color: var(--red_dark);

  & a {
    color: var(--red_light);
    font-style: italic;
    font-weight: lighter;
  }
}

.detInfo {

  & p {
    width: 70%;
    line-height: 2em;
    margin: 0 auto;
  }
}

.detInfoTop {
  justify-content: space-around;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 5rem 0;
}

.detInfoImg {
  width: 50%;

  & img {
    width: 100%;
    height: auto;
    border: .5rem solid var(--blue_normal);
  }
}

.detInfoImgBg {
  position: absolute;
  width: 46%;
  height: 32rem;
  z-index: -33;
  top: 14rem;
  left: 7rem;
  background-image: var(--dot_pattern);
  background-size: 1rem 1rem;

}

.detAlgInfo {
  text-align: left;
  width: 30%;

  & h2 {
    color: var(--red_dark);
    font-weight: bold;
    margin-top: 2rem;
  }

  & .time {
    color: var(--red_normal);
    margin-bottom: 2rem;
  }

  & ul {
    color: var(--red_normal);
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  & .location li:first-child {
    padding-right: 2rem;
  }

  & .location ul {
    margin-bottom: .5rem;
  }

  & .tags ul {
    margin-bottom: 2rem;
    font-weight: lighter;
    color: var(--blue_normal);
    text-transform: uppercase;
    justify-content: space-around;
  }
}

.detOther {
  margin: 5rem auto;
  width: 75%;

  & h5 {
    width: 100%;
    color: var(--blue_normal);
    margin-left: 30%;
    text-transform: uppercase;
  }

  & .detOtherFlex {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    align-items: center;
    justify-content: space-around;
  }

}

.detOtherFlex {

  & .evenement {
    width: 100%;
    height: auto;
  }

  & .detEvenement {
    cursor: pointer;
    width: 25%;
    margin: 0 .9rem;
    color: black;
    font-size: 1.6rem;
  }
}

.detEvenement {

  & .evenement {
    border: .2rem solid black;
    border-radius: 1rem;
  }

  & .detOtherTitle {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;

    & span {
      margin-left: 0;
      color: var(--blue_normal);
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.errorPage {
  height: 80rem;

  & p {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -2rem;
  }

  & button {
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 5rem 0 0 10rem;
    padding: 1rem 2.2rem;
    font-size: 3rem;
    border: .2rem solid var(--blue_normal);
    border-radius: 1rem;
    position: relative;
  }
}

.errorImg {
  width: 45%;
  margin: 0 auto;

  & img {
    width: 40%;
    height: auto;
    padding-top: 2rem;
    margin-top: 5rem;
    position: absolute;
  }

  & .imgTwo {
    transform-origin: 83% 58%;
    animation: swinging 3.5s ease-in-out forwards infinite;
    z-index: 0;
  }

}

@media (width <= 1046px) {

  .newsdrop p {
    /*width: 60%;*/
    font-size: 1.6rem;
  }
}

@keyframes swinging {

  0% { transform: rotate(10deg); }

  50% { transform: rotate(-5deg); }

  100% { transform: rotate(10deg); }
}
